.container {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.container90 {
  margin: 0 auto;
  max-width: 90%;
  width: 100%;
  box-sizing: border-box;

  @include respond(phone) {
    max-width: 95%;
  }
}

.App {
    text-align: center;
}
 
  